
    body {
        font-family: Arial, Helvetica, sans-serif; 
        
    }

    form {
        background-color: #29C3C9;
        border: 3px solid lightgray;
        width: 30%;
        display: inline-block;
        opacity: 0.7;
        z-index: 1;
    }

    .Box{

        background-color: #29C3C9;
        border: 3px solid lightgray;
        width: 30%;
        display: inline-block;
        opacity: 0.7;
        z-index: 1;
    }
    
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    button {
      background-color: lightgreen;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      font-size: 20px;
    }
    
    button:hover {
        background-color: lightseagreen;
    }
    
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
    img.avatar {
      width: 50%;
      border-radius: 60%;
    }

      img.Logo {
        width: 50%;
        
      }

      .welcome{
        font-size: 30px;;
        text-align: center;
        color:Black;
      }
      
    .container {
      padding: 16px;
    }
    .LogoContainer{
        width: 30%;
        float: right;
        margin-right: 20%;
        margin-top: 30px;
        opacity: 0.8;
    }
    
    span.psw {
      float: right;

    }
    
 
 
